<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="container mx-auto">
        <div class="text font-semibold text-lg ml-4">
            Activity Feed
        </div><hr>

        <div class="flex flex-col ml-2">
            <div class="flex items-center">
                <div class="p-2 "><img class="rounded-lg size-16 object-cover" src="https://images.pexels.com/photos/3778876/pexels-photo-3778876.jpeg?auto=compress&cs=tinysrgb&w=600" alt=""></div>
                <div class="text-gray-400">Peter <span class="text-gray-300">Ordered</span> Toilate paper. <br>2 hours ago</div>
            </div>
            <div class="flex">
                <div class="p-2"><img class="rounded-lg size-16 object-cover" src="https://images.pexels.com/photos/7195976/pexels-photo-7195976.jpeg?auto=compress&cs=tinysrgb&w=600" alt=""></div>
                <div class="text-gray-400">Tom <span class="text-gray-300">disliked and commented...</span> <br>3 hours ago</div>
            </div>
            <div class="flex">
                <div class="p-2"><img class="rounded-lg size-16 object-cover" src="https://images.pexels.com/photos/1918246/pexels-photo-1918246.jpeg?auto=compress&cs=tinysrgb&w=600" alt=""></div>
                <div class="text-gray-400">Peter <span class="text-gray-300">Ordered</span> Toilate paper. <br>4 hours ago</div>
            </div>
            <div class="flex">
                <div class="p-2"><img class="rounded-lg size-16 object-cover" src="https://images.pexels.com/photos/1681010/pexels-photo-1681010.jpeg?auto=compress&cs=tinysrgb&w=600" alt=""></div>
                <div class="text-gray-400">Peter <span class="text-gray-300">Ordered</span> Toilate paper. <br>2 hours ago</div>
            </div>
        </div>
    </div>
    <div class="size-96 bg-black"></div>
</body>

</html>