*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-nav{
    display: grid;
    grid-template-columns: repeat(6 , auto);
    grid-column-start: 2;
    grid-column-end: 5;
}

.list-ul{
    list-style-type: none;
    display: grid;
    /* grid-template-columns: auto auto auto auto auto auto ; */
}
