<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>4-columns</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="container h-96 mx-auto bg-[url(./4-columns.png)]" ></div>
    <br><hr class="border-2 border-black border-dashed"><br>

    <div class="container mx-auto">
        <div class="grid grid-cols-4 justify-between w-screen">
            <div class="flex flex-col justify-around">
                <div class="font-semibold text-xl " >Company</div>
                <div class="text-gray-600">Brand</div>
                <div class="text-gray-600">Contect Us</div>
                <div class="text-gray-600">Blog</div>
            </div>
            <div class="flex flex-col justify-around">
                <div class="font-semibold text-xl " >Legal</div>
                <div class="text-gray-600">Privacy</div>
                <div class="text-gray-600">Terms</div>
                <div class="text-gray-600">Support</div>
            </div>
            <div class="flex flex-col justify-around">
                <div class="font-semibold text-xl " >Products</div>
                <div class="text-gray-600">Latest features</div>
                <div class="text-gray-600">Product roadmap</div>
                <div class="text-gray-600">Knowledge base</div>
            </div>
            <div class="flex flex-col ">
                <div class="font-semibold text-xl pl-4 mb-3 " >Account</div>
                <button type="button" class=" text-purple-700  bg-white border-2 border-purple-700 font-medium rounded-lg text-sm py-2.5 mb-2 w-28">Sign in</button>
                <button type="button" class=" text-white  bg-purple-700  border-purple-700  border-2  font-medium rounded-lg text-sm mb-2 py-2.5 w-28">Sign up</button>

            </div>
        </div>
        <hr>
    </div>

</body>
</html>